{% load static %}
{% load markdown_tags %}

<div id="consent" style="position: absolute; top:5%; align-self: center; z-index: 99;">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <div class="text-center">
        <img src="{% static 'frontdoor/img/EDU.png' %}" style="width: 10%; margin-top:10px; margin-bottom: -30px;" />
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <p style="font-weight: bold;">
            <i class="fas fa-check"></i> 이용약관
          </p>
          <div class="z-depth-1 block">
            {% load_markdown 'accounts/md/terms_of_use.md' as markdown_content %}
            {{ markdown_content|safe }}
          </div>
          <div class="col-12 text-right">
            <label style="padding-top: 10px;">
              <input type="checkbox" name="agreement1" v-model="termsOfUse" />
              <span style="font-weight: bold;">이용약관에 동의합니다.</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <p style="font-weight: bold;">
            <i class="fas fa-check"></i> 개인정보 수집 및 이용
          </p>
          <div class="z-depth-1 block">
            {% load_markdown 'accounts/md/personal_agreement.md' as markdown_content %}
            {{ markdown_content|safe }}
          </div>
          <div class="col-12 text-right">
            <label style="padding-top: 10px;">
              <input type="checkbox" name="agreement2" v-model="personalOfUse" />
              <span style="font-weight: bold;">개인정보 수집 및 이용에 동의합니다.</span>
            </label>
          </div>
        </div>

        <div class="col-12 text-center">
          <button class="small" :disabled="isDisabled" onclick="$('#consent').hide()">다음</button>
        </div>
      </div>
    </div>
  </div>
</div>
<link href="{% static '/accounts/css/consent.css' %}" rel="stylesheet" />
<script src="{% static '/accounts/js/enableAgree.js' %}"></script>
