{% extends '../home/layout.html' %}
{% load static %}
{% load form_tags %}

{% block contents %}
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">계정 수정</span></h4>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> 내정보</a>
          </li>
        </ul>
        <div class="card mb-4">
          <form method="POST" action="{% url 'accounts:mypage' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h5 class="card-header">프로필 세부사항</h5>
            <!-- Account -->
            <div class="card-body">
              <div class="d-flex align-items-start align-items-sm-center gap-4">
                {% include 'account/avatar.html' with src=user.avatar.url %}
              </div>
            </div>

            <div class="card-body">
              <div class="row">
                {% for field in form %}
                  {% if field.label != '프로필 이미지' %}
                    <div class="mb-3 col-md-6">{{ field|add_label_class:'form-label'|safe }}
                      {{ field|add_widget_class:'form-control'|safe }}</div>
                  {% endif %}
                {% endfor %}
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2">수정</button>
                <button type="reset" class="btn btn-outline-secondary">취소</button>
              </div>
            </div>
          </form>
          <!-- /Account -->
        </div>
        <div class="card">
          <h5 class="card-header">계정 삭제</h5>
          <div class="card-body">
            <div class="mb-3 col-12 mb-0">
              <div class="alert alert-warning">
                <h6 class="alert-heading fw-bold mb-1">정말로 계정을 삭제하시겠습니까?</h6>
                <p class="mb-0">계정을 삭제하면 되돌릴 수 없습니다. 확실하게 해주세요.</p>
              </div>
            </div>
            <form id="formAccountDeactivation" method="post" action="{% url 'accounts:delete' %}">
              {% csrf_token %}
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                <label class="form-check-label" for="accountActivation">내 계정 비활성화를 확인합니다</label>
              </div>
              <button id="submitDelete" type="submit" class="btn btn-danger deactivate-account" disabled>계정 비활성화</button>
            </form>
            <script>
              document.getElementById('accountActivation').addEventListener('change', function () {
                document.getElementById('submitDelete').disabled = !this.checked
              })
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
