{% extends '../home/layout.html' %}
{% load static %}
{% block contents %}
  <link href="{% static '/home/css/main.css' %}" rel="stylesheet" />

  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card bg-transparent shadow-none border-0 my-4">
      <div class="card-body row p-0 pb-3">
        <div class="col-12 col-md-8 card-separator">
          <h3>돌아오신 걸 환영합니다!👋🏻</h3>
          <div class="d-flex justify-content-between flex-wrap gap-3 me-5">
            <div class="d-flex align-items-center gap-3 me-4 me-sm-0">
              <span class="bg-label-primary p-2 rounded"><i class="bx bx-laptop bx-sm"></i></span>
              <div class="content-right">
                <p class="mb-0">총 수강시간</p>
                <h4 class="text-primary mb-0">35h</h4>
              </div>
            </div>
            <div class="d-flex align-items-center gap-3">
              <span class="bg-label-info p-2 rounded"><i class="bx bx-bulb bx-sm"></i></span>
              <div class="content-right">
                <p class="mb-0">테스트 결과</p>
                <h4 class="text-info mb-0">80%</h4>
              </div>
            </div>
            <div class="d-flex align-items-center gap-3">
              <span class="bg-label-warning p-2 rounded"><i class="bx bx-check-circle bx-sm"></i></span>
              <div class="content-right">
                <p class="mb-0">수강완료 강의</p>
                <h4 class="text-warning mb-0">1</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 ps-md-3 ps-lg-5 pt-3 pt-md-0">
          {% include 'vendor/time-pie.html' %}
        </div>
      </div>
    </div>
    <div class="card app-calendar-wrapper">
      {% include 'vendor/calendar.html' %}
    </div>
  </div>
  <!-- / Content -->
{% endblock %}
