{% block contents %}
  {% load static %}

  <div class="title-container">
    <h1>AIVLE TEAM 3조를 소개합니다!</h1>
  </div>
  <div class="emoji-container">
    <!-- Add your emojis here using <img> tags -->
    <img src="{% static 'frontdoor/img/robot2.png' %}" alt="Emoji" class="emoji" />
    <div class="emoji-wrapper">
      <img src="{% static 'frontdoor/img/Jinsoo.png' %}" alt="Emoji" class="emoji" />
      <span class="speech-bubble">저는 우리 조 귀염둥이 안진수입니다!</span>
    </div>

    <div class="emoji-wrapper">
      <img src="{% static 'frontdoor/img/Yeongjin.png' %}" alt="Emoji" class="emoji" />
      <span class="speech-bubble">연준러버 김영진입니다!</span>
    </div>
    <div class="emoji-wrapper">
      <img src="{% static 'frontdoor/img/Seungho.png' %}" alt="Emoji" class="emoji" />
      <span class="speech-bubble">삼성SDS 신입사원 유승호입니다!</span>
    </div>
    <div class="emoji-wrapper">
      <img src="{% static 'frontdoor/img/Jinwoo.png' %}" alt="Emoji" class="emoji" />
      <span class="speech-bubble">에이블 조각미남 김진우입니다!</span>
    </div>
    <div class="emoji-wrapper">
      <img src="{% static 'frontdoor/img/Woncheol.png' %}" alt="Emoji" class="emoji" />
      <span class="speech-bubble">코딩박사 정원철입니다!</span>
    </div>
    <div class="emoji-wrapper">
      <img src="{% static 'frontdoor/img/Hyeongseop.png' %}" alt="Emoji" class="emoji" />
      <span class="speech-bubble">리무~~</span>
    </div>
    <img src="{% static 'frontdoor/img/babyRobot__5.png' %}" alt="Emoji" class="emoji" />
    <img src="{% static 'frontdoor/img/robot4.png' %}" alt="Emoji" class="emoji" />
    <img src="{% static 'frontdoor/img/babyRobot__1.png' %}" alt="Emoji" class="emoji" />
    <img src="{% static 'frontdoor/img/robot5.png' %}" alt="Emoji" class="emoji" />
    <img src="{% static 'frontdoor/img/babyRobot__2.png' %}" alt="Emoji" class="emoji" />
    <img src="{% static 'frontdoor/img/babyRobot__3.png' %}" alt="Emoji" class="emoji" />
    <img src="{% static 'frontdoor/img/robot1.png' %}" alt="Emoji" class="emoji" />
    <!-- Add more <img> tags for each emoji you have -->
  </div>
{% endblock %}
